{
  "ieam-roks-stage-1": {
    "CONTAINER_NAME": "horizon2",
    "ARCH": "arm64",
    "REGISTRY": "us.icr.io",
    "NAME_SPACE": "ieam-samsung-colab",
    "IAMUSER": "iamapikey",
    "IAMAPIKEY": "",
    "SERVICE_NAME": "samsung-anax-roks-stage1",
    "ANAX_VERSION": "v2.30.0-1177",
    "HORIZON_AGENT": "horizon-agent-linux-deb-arm64.tar.gz",
    "REDHAT_VERSION": "9.1",
    "LABEL_STAGE": "stage=builder",
    "LABEL_VENDOR": "IBM",
    "LABEL_SUMMARY": "The agent in a general purpose container.",
    "LABEL_DESCRIPTION": "A container which holds the edge node agent, to be used in environments where there is no operating system package that can install the agent natively.",
    "HZN_EXCHANGE_URL": "https://cp-console.ieam-roks-stage-1-70ea81cdef68a2eb78ece6d890b7dad3-0000.us-south.containers.appdomain.cloud/edge-exchange/v1/",
    "HZN_FSS_CSSURL": "https://cp-console.ieam-roks-stage-1-70ea81cdef68a2eb78ece6d890b7dad3-0000.us-south.containers.appdomain.cloud/edge-css/",
    "HZN_ORG_ID": "ieam-roks-stage-1",
    "HZN_DEVICE_ID": "my-samsung-R3CT307YNNW",
    "HZN_EXCHANGE_USER_AUTH": "",
    "HZN_MGMT_HUB_CERT_PATH": "/etc/horizon/agent-install.crt",
    "HZN_AGENT_PORT": "8510",
    "HZN_AGBOT_URL": "https://cp-console.ieam-roks-stage-1-70ea81cdef68a2eb78ece6d890b7dad3-0000.us-south.containers.appdomain.cloud/edge-agbot/",
    "HZN_SDO_SVC_URL": "https://cp-console.ieam-roks-stage-1-70ea81cdef68a2eb78ece6d890b7dad3-0000.us-south.containers.appdomain.cloud/edge-sdo-ocs/api",
    "HZN_NODE_POLICY": "/etc/default/node.policy.json",
    "HZN_VAR_RUN_BASE": "/data/var/tmp/horizon",
    "PROVIDE_CERT": "/Users/jeff/sandbox/samsung/credential/agent-install-samsung.crt",
    "NODE_POLICY": {
      "properties": [
        {
          "name": "openhorizon.allowPrivileged",
          "value": true
        }
      ],	    
      "deployment": {
        "properties": [
          {"name": "mms-agent", "value": "MMS Agent"},
          {"name": "homehub", "value": "Home Automation"}
        ]
      }
    }
  },
  "samsung-R3CT307YNNW": {
    "CONTAINER_NAME": "horizon1",
    "ARCH": "arm64",
    "REGISTRY": "us.icr.io",
    "NAME_SPACE": "ieam-samsung-colab",
    "IAMUSER": "iamapikey",
    "IAMAPIKEY": "",
    "SERVICE_NAME": "samsung-anax-roks-stage1",
    "ANAX_VERSION": "v2.30.0-1177",
    "HORIZON_AGENT": "horizon-agent-linux-deb-arm64.tar.gz",
    "REDHAT_VERSION": "9.1",
    "LABEL_STAGE": "stage=builder",
    "LABEL_VENDOR": "IBM",
    "LABEL_SUMMARY": "The agent in a general purpose container.",
    "LABEL_DESCRIPTION": "A container which holds the edge node agent, to be used in environments where there is no operating system package that can install the agent natively.",
    "HZN_EXCHANGE_URL": "https://cp-console.ieam-roks-stage-2-70ea81cdef68a2eb78ece6d890b7dad3-0000.us-south.containers.appdomain.cloud/edge-exchange/v1",
    "HZN_FSS_CSSURL": "https://cp-console.ieam-roks-stage-2-70ea81cdef68a2eb78ece6d890b7dad3-0000.us-south.containers.appdomain.cloud/edge-css/",
    "HZN_ORG_ID": "anaxsquad",
    "HZN_DEVICE_ID": "my-samsung-R3CT307YNNW",
    "HZN_EXCHANGE_USER_AUTH": "",
    "HZN_MGMT_HUB_CERT_PATH": "/etc/horizon/agent-install.crt",
    "HZN_AGENT_PORT": "8510",
    "HZN_AGBOT_URL": "https://cp-console.ieam-roks-stage-2-70ea81cdef68a2eb78ece6d890b7dad3-0000.us-south.containers.appdomain.cloud/edge-agbot/",
    "HZN_SDO_SVC_URL": "https://cp-console.ieam-roks-stage-2-70ea81cdef68a2eb78ece6d890b7dad3-0000.us-south.containers.appdomain.cloud/edge-sdo-ocs/api",
    "HZN_NODE_POLICY": "/etc/default/node.policy.json",
    "HZN_VAR_RUN_BASE": "/data/var/tmp/horizon",
    "PROVIDE_CERT": "/Users/jeff/sandbox/samsung/credential/agent-install-samsung.crt",
    "NODE_POLICY": {
      "properties": [
        {
          "name": "openhorizon.allowPrivileged",
          "value": true
        }
      ],	    
      "deployment": {
        "properties": [
          {"name": "mms-agent", "value": "MMS Agent"},
          {"name": "homehub", "value": "Home Automation"}
        ]
      }
    }
  }
}